extends layout

block content
    div(class="snow")
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
        div(class="snow__flake") *
    script(src='/javascripts/snow_anim.js')